# git attributes

* text=auto

# define word files
*.docx binary

# python
*.ipynb text

# use Git LFS to store media files and treat them as binary 
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text

